code/despot_MDP_robot/build
code/despot_POMDP_robot/build
code/despot_MDP_human/build
code/despot_MDP_tester/build
code/doc/html/*
code/ros_ws/build
code/ros_ws/devel
code/ros_ws/install
code/ros_ws/doc/html/*
code/hrc_morse/src/__pycache__
code/hrc_morse/src/.idea
./vscode/
.*
