<launch>

<!-- <node pkg="hrc_ros" type="observation_agent_IE" name="observation_agent_IE" output="screen" respawn="true" /> -->

<!-- <node pkg="hrc_ros" type="task_manager_IE" name="task_manager_IE" output="screen" respawn="true" /> -->

<!-- <node pkg="hrc_ros" type="robot_motion_agent" name="robot_motion_agent" output="screen" respawn="true" /> -->

<!-- <node pkg="hrc_ros" type="dobot_worker_agent" name="dobot_worker_agent" output="screen" respawn="true" /> -->

<!--Configure lower resolution for RGB video 8=QVGA@30Hz --> 
<param name="camera/driver/color_mode" value="8" /> 

<!-- Drive Dobot to calibration position && start the conveyor belt -->
<node pkg="rosservice" type="rosservice" name="calibrate_dobot" args="call --wait /dobot_worker/calibrate "/>

<!-- Enable the conveyor belt - automatically stops with the IR sensor --> 
<!-- <node pkg="rosservice" type="rosservice" name="enble_conveyor" args="call /conveyor_control_app/inOprConveyorControl 'isEnabled: true speed: 25' "/> -->

<!-- start the experiment -->  
<!-- <node pkg="rosservice" type="rosservice" name="start_experiment" args="call wait /task_manager_IE/new_scenario_request"/> -->

<!--  Minimum topics without the video -->  
<!-- <node pkg="rosbag" type="record" name="rosbag_minium_IE_noVideo" args="-o $(find hrc_ros)/../../../results/POMDP_IE_tests/bags/POMDP_IE_minimum_noVideo /observation_agent/observation_update /experiment_monitoring/robot_action_taken_pub /task_manager/task_status"/>  -->

<!--  Minimum topics needed to record and replay the whole scenario --> 
<!--  /camera/depth_registered/image_raw /camera/depth_registered/camera_info /camera/rgb/image_raw /camera/rgb/camera_info --> 
<!-- <node pkg="rosbag" type="record" name="rosbag_minium_IE" args="-o $(find hrc_ros)/../../../results/POMDP_IE_tests/bags/POMDP_IE_minimum /camera/depth_registered/image_raw /camera/depth_registered/camera_info /camera/rgb/image_raw /camera/rgb/camera_info /observation_agent/observation_update /experiment_monitoring/robot_action_taken_pub 
/task_manager/task_status"/> -->

</launch> 


